
<div>
<h3>Hello!</h3>

<button id="test-button" type="button" class="c-button c-button--error .u-super">Plz Dont Press</button>
<blaze-accordion>
  <blaze-accordion-pane open header="Login">
   <button class="c-button c-button--error .u-super"> <a href="/login">Login</a> </button>
  </blaze-accordion-pane>
  <blaze-accordion-pane header="Click me also">
    To toggle other panes
  </blaze-accordion-pane>
  <blaze-accordion-pane header="Click me also">
    To toggle other panes
  </blaze-accordion-pane>
  <blaze-accordion-pane header="Click me also">
    To toggle other panes
  </blaze-accordion-pane>
</blaze-accordion>
<script src="/js/stocks.js"></script>
</div>