<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="/css/news.css">
</head>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary--bs-secondary-bg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">ViewFolio</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./homepage.handlebars">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./news.handlebars">Stock News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./userLogin.handlebars">Sign-Out</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="search-btn" class="btn" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<body>
  <h1 class="position-absolute top-25 start-50 translate-middle-x"> Stock News</h1>
  <br>
  <br>
  <br>
  <div class="container-xxl text-center">
    <div class="row">
      <div class="col-6">
          <h3>Top Gainers</h3>
          <div class="card border border-white">
            <div id="company-name" class="card-header">
              <h5>Propanc Biopharma, Inc</h5>
            </div>
            <div class="card-body">
              <h6 id="sotck-name" class="card-title">PPCB</h6>
              <button id="pice-btn" type="button" class="btn btn-outline-light col-4 rounded-pill">Price: 0.1072</button>
              <button id="price-chnage-btn" type="button" class="btn btn-outline-success col-4 rounded-pill">$Change:<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
              </svg>+0.0372</button>
              <button id="percent-change-btn" type="button" class="btn btn-outline-success col-4 rounded-pill">%Change:<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
              </svg>53.14</button>
              <button id="volume-btn" type="button" class="btn btn-outline-light col-4 rounded-pill">Volume: 1.469M</button>
            </div>
          </div>
      </div>
      <div class="col-6">
          <h3>Top Losers</h3>
          <div class="card border border-white">
            <div id="company-name" class="card-header">
              <h5>Propanc Biopharma, Inc</h5>
            </div>
            <div class="card-body">
              <h6 id="stock-name" class="card-title">PPCB</h6>
              <button type="button" class="btn btn-outline-light col-4 rounded-pill">Price: 40.00</button>
              <button type="button" class="btn btn-outline-danger col-4 rounded-pill">$Change:<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>12.49</button>
              <button type="button" class="btn btn-outline-danger col-4 rounded-pill">%Change:<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>23.75</button>
              <button type="button" class="btn btn-outline-light col-4 rounded-pill">Volume: 24.626M</button>
      </div>
    </div>
  </div>
</body>
