<form class="o-container o-container--xsmall c-card u-high">
<header class="c-card__header">
  <h2 class="c-heading">
    Register
    <div class="c-heading__sub"></div>
  </h2>
</header>
<div class="c-card__body">
    <div class="o-form-element">
<label class="o-form-element c-label">
      First Name:
      <input class="c-field c-field--label" id="firstName" type="first name" />
      <label class="o-form-element c-label">
      Last Name:
      <input class="c-field c-field--label" id="lastName" type="last name" />
      <label class="c-label">
        Email:
        <input class="c-field c-field--label" id="email" type="email" placeholder="your@email.com" />
      </label>
    <label class="o-form-element c-label">
      Password:
      <input class="c-field c-field--label" id="password" type="password" />
      <div role="tooltip" class="c-hint">
          The password must be 8 characters long
        </div>
        </label>
    </label>
  </div>
  <footer class="c-card__footer test-custom">
    <button type="button" id="signUpButton" class="c-button c-button--brand c-button--block button-grey">
      Sign Up
    </button>
    <script src="/js/signup.js"></script>
    </footer>
</form>