<form class="o-container o-container--xsmall c-card u-high">
<header class="c-card__header">
<h2 class="c-heading">
Login
<div class="c-heading__sub"></div>
</h2>
</header>
<div class="c-card__body">
<div class="o-form-element">
<label class="c-label">
Email:
<input class="c-field c-field--label" type="email" placeholder="your@email.com" />
<div role="tooltip" class="c-hint">
The email used to register the account
</div>
</label>
</div>
<label class="o-form-element c-label">
Password:
<input class="c-field c-field--label" type="password" />
</label>
<div class="o-form-element">
<label class="c-toggle c-toggle--success">
Remember me?
<input type="checkbox" checked />
<div class="c-toggle__track">
<div class="c-toggle__handle"></div>
</div>
</label>
</div>
</div>
<footer class="c-card__footer test-custom">
<button type="button" class="c-button c-button--brand c-button--block button-grey">
<a href="/">Login</a>
</button>
</footer>
<div>
<link class="center"> <a href="/signup">Sign Up</a> </link>

</div>
</form>

