header,
footer {
  background-color: #8558bf;
}
html,
body {
  background-color: #ffffff;
  margin: 0;
  height: 100%;
}

card-item {
  background-color: #9a9c9a;
}

.card {
  background-color: #9a9c9a;
}
